/* Variaveis */

:root {
  --primary-color: #080432;
  --primary-color-light: #0f085e;
  --secondary-color: #4d4dca;
  --color-body: #000023f6;
  --neutral: #fff;
}

/* Padrão */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-body);
  line-height: 1.4;
  color: #303030;
  font-size: 1.6rem;
  height: 100dvh;

  &::-webkit-scrollbar {
    background-color: var(--secondary-color);
    width: 1.3rem;
    border-radius: 1rem;
  }
}

html {
  font-size: 62.5%;
}

/* Cabeçalho */

.cabecalho {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2.5rem 3.9rem;
  color: var(--neutral);
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  box-shadow: 0 1rem 0.8rem rgba(0, 0, 0, 0.3);

  & h2 {
    font-size: 2.76rem;
  }

  & .navegacao {
    display: flex;
    align-items: center;
    color: var(--neutral);
    gap: 2rem;
    position: relative;

    & .lista {
      display: flex;
      font-size: 2.3rem;
      gap: 3.12rem;
      list-style: none;
      align-items: center;
      justify-content: center;

      & a {
        color: inherit;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: var(--secondary-color);
          transition: 0.3s;
        }
      }
    }

    & .icone-menu {
      display: none;
      font-size: 2.76rem;
    }
  }
}

/* Main */

main {
  display: flex;
  flex-flow: column;
  gap: 7.63rem;
  justify-content: center;
  align-items: center;

  & .container {
    margin-top: 15rem;
    max-width: 80vw;
    position: relative;

    & .container-card-projeto {
      display: flex;
      gap: 1.6rem;
      overflow: hidden;
      scroll-behavior: smooth;
      width: 100%;

      & .caixa-projeto {
        border-radius: 2rem;
        overflow: hidden;
        background-color: var(--primary-color-light);
        color: var(--neutral);
        min-width: calc(calc(100% - 1.6rem) / 2);
        transition: all 0.5s ease-in;
        max-width: 29.2rem;

        & img {
          width: 100%;
          height: 19.5rem;
        }

        & .caixa-descricao {
          display: flex;
          flex-flow: column;
          align-items: center;
          gap: 1.02rem;
          padding: 0.65rem;

          & .descricao-txt {
            min-height: 115.95px;

            & span {
              font-weight: 700;
            }
          }

          & .btn {
            background-color: var(--secondary-color);
            border-radius: 1.6rem;
            padding: 0.65rem 0.82rem;
            color: var(--neutral);
            font-weight: 600;
            font-size: 1.92rem;
            text-decoration: none;
            padding: 0.65rem 2.3rem;
            transition: all 0.3s ease-in;

            &:hover {
              background-color: var(--primary-color);
            }
          }
        }
      }
    }

    & .btn-seta {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      font-size: 1.92rem;
      font-weight: 600;
      background-color: var(--secondary-color);
      color: var(--neutral);
      border-radius: 50%;
      position: absolute;
      cursor: pointer;

      &:active {
        background-color: var(--primary-color-light);
      }

      &.seta-esquerda {
        left: 0;
        transform: translate(-200%, 16.3rem);
      }

      &.seta-direita {
        right: 0;
        transform: translate(200%, 16.3rem);
      }
    }
  }

  & .container-skills {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3.12rem 2.5rem;
    color: var(--neutral);

    & .caixa-titulo {
      max-width: 50rem;

      & h2 {
        position: relative;
        padding-left: 1.6rem;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          width: 0.54rem;
          height: 100%;
          margin-right: 1.6rem;
          background-color: var(--secondary-color);
        }
      }
    }

    & .container-carSkill {
      display: flex;
      gap: 3.12rem;

      & .caixa-cardSkill {
        display: flex;
        flex-flow: column;
        gap: 1.28rem;
        padding: 1rem 0;
        min-width: 30rem;
        background-color: var(--primary-color-light);
        border-radius: 2rem;
        max-height: 29rem;
        overflow: auto;

        &::-webkit-scrollbar {
          width: 1rem;
          background-color: var(--secondary-color);
          border-radius: 1rem;
        }
      }
    }

    & h3 {
      text-align: center;
    }

    & .lista-skill {
      display: flex;
      flex-flow: column;
      gap: 1.28rem;
      font-size: 1.92rem;

      & .item-listaSkill {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.02rem;
        list-style: none;
        border-bottom: 1px solid var(--neutral);
        height: 2.78rem;
        padding: 0 1rem;

        &:last-child {
          border-bottom: none;
        }

        & svg {
          width: 3rem;
        }
      }
    }
  }
}

/* Menu lateral */

.menu-lateral {
  display: none;

  &.aberto {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    background-color: var(--primary-color);
    margin-top: 8rem;
    scroll-behavior: smooth;

    & .menuLateralista {
      & a {
        color: var(--neutral);
        text-decoration: none;
        width: 100%;
        font-size: 1.92rem;

        & li {
          list-style: none;
          padding: 5rem;
          transition: all 0.3s ease-in;
          border-bottom: 0.65px solid var(--neutral);

          &:hover {
            background-color: var(--primary-color-light);
          }
        }
      }
    }
  }
}
